#mainboxconnections {
  width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#Shopnoxs {
    width: 90%;
    height: 12%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    padding-left: 10px;
    text-transform: capitalize;
    box-shadow: 2px 2px 10px 2px #000;
    border-radius: 20px;
    margin-bottom: 10px;
}



#Shopnoxs h3 {
    color: #000;
    font-size: 30px;
    font-family: sans-serif;
}

#Shopnoxs p {
    text-transform: lowercase;
}

#addshop {
    width: 80%;
    height: 45%;
    background-color: rgb(193, 192, 192);
    border-radius: 20px;
}

#addshop #plus {
    font-size: 120px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-weight: bold;
    color:grey;
    user-select: none;
}

#plustext{
    font-size: 60px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    font-weight: bold;
    color:grey;
    user-select: none;
    font-family: sans-serif;
}

@media (min-width:794px) {
#mainboxconnections {
  width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    padding: 10px;
}

#Shopnoxs {
    width: 18%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    padding-left: 10px;
    padding-bottom: 5px;
    text-transform: capitalize;
    box-shadow: 2px 2px 10px 2px #000;
    border-radius: 20px;
    margin-bottom: 10px;
}


#Shopnoxs h3 {
    color: #000;
    font-size: 30px;
    font-family: sans-serif;
}
}