#mainboxheader2 {
    background-color: #000;
    height: 15%;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainboxheader2 #box2header2 {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    position: relative;
}

#mainboxheader2 #box2header2 img {
    width: 30%;
    border-radius: 20px;
}

#mainboxheader2 #box2header2 #box23header2 {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#mainboxheader2 #box2header2 #box23header2 button {
    width: 80%;
    height: 100%;
    background-color: #000;
    border: none;
}

#mainboxheader2 #box2header2 #box23header2 button:hover {
    width: 80%;
    height: 100%;
    background-color: rgb(161, 154, 154);
    border-radius: 20px;
}

#mainboxheader2 #box2header2 #box23header2 button img{
    width: 40px;
}

#box3header2{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#box3header2 button{
    width: 30%;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    border: none;
}

.ShopOpenornotbox1{
    width: 30%;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 20px;
}

button #ShopOpenornotbox2{
    width: 100%;
    height: 60%;
    border-radius: 20px;
    background-color: rgb(236, 236, 236);
}


button #ShopOpenornotbox2 #ShopOpenornotcircle{
    width: 50%;
    height: 100%;
    background-color: grey;  
    border-radius: 30px; 
}

@media (min-width:597px) {
    #mainboxheader2 #box2header2 img {
    width: 25%;
    border-radius: 20px;
}
}

@media (min-width:764px) {
    #mainboxheader2 #box2header2 img {
    width: 25%;
    border-radius: 20px;
}
}

@media (min-width:1374px) {
    #mainboxheader2 #box2header2 img {
    width: 20%;
    border-radius: 20px;
}
}

@media (min-width:1440px) {
    #mainboxheader2 #box2header2 img {
    width: 15%;
    border-radius: 20px;
}
}