#mainboxMenu{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#box2Menu{
    width: 98%;
    height: 99%;
    background-color: #000;
}

h2{
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;

}

#logoutbutton{
    width: 100%;
    height: 5%;
    font-weight: bold;
    font-size: 25px;
    color: red;
    background-color: rgba(255, 0, 0, 0.446);
}

#menubutton{
    width: 100%;
    height: 5%;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    background-color: #000;
    text-align: left;
    padding-left: 5%;
}

@media (min-width:794px) {
#box2Menu{
    width: 98%;
    height: 99%;
    background-color: #fff;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

h2{
    color: #000;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    text-decoration: 2px underline #000;

}
#logoutbutton{
    width: 15%;
    height: 20%;
    font-weight: bold;
    font-size: 25px;
    color: red;
    background-color: rgba(255, 0, 0, 0.446);
    border-radius: 20px;
}
#menubutton{
    width: 15%;
    height: 20%;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    background-color: #000;
    text-align: left;
    padding-left: 5%;
        border-radius: 20px;

}
}