#mainboxboss1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainboxnumberverification {
    background: #000;
    width: 80%;
    height: 60%;
    border-radius: 20px;
    padding: 5px;
    color: #fff;
}

#mainboxnumberverification div h2 {
    text-transform: capitalize;
    font-family: cursive;
    font-size: xx-large;
}

#mainboxnumberverification div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainboxnumberverification div form {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#mainboxnumberverification div form fieldset{
    border: none;
}

#mainboxnumberverification div form fieldset legend {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

#mainboxnumberverification div form .inputbox {
    width: 100%;
    height: 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
}

#mainboxnumberverification div form #submitbtn2 {
    width: 60%;
    height: 15%;
    font-size: x-large;
    text-transform: capitalize;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: 20px;
}

#mainboxnumberverification div form #submitbtn2:focus {
    background: #605d5d;
}