#mainboxOrder {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#box1Order {
    background-color: black;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

#box22Order {
    width: 100%;
    height: 50%;
}

#box22Order button{
    width: 50%;
    height: 100%;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#box22Order button:focus{
    border-top: 2px solid white;
    background-color: rgba(255, 255, 255, 0.398);

}

#box2Order{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box3Order{
    background-color: white;
    /* width:390px;
    height: 140px; */
    margin-top: 10px;
    border-radius: 10px;
    /* padding: 7px; */
    /* box-shadow: 1px 1px 8px 3px #000; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box3Order div{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 25%;
}

.box3Order div button{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
}

#pd{
    height: 90%;
    width: 70%;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
    margin: 20px;
    font-size: 20px;
}