#reader {
  width: 100%;
  max-width: 400px;
  height: 400px;   /* 🔥 REQUIRED */
  margin: auto;
  background: white;
}

#reader video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}